/* Variables */
:root {
  --main-text-color : #fff;
  --main-bg-color : #fff;
}

/* barlow-600 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/barlow-v12-latin-600.woff2') format('woff2'),
    url('../fonts/barlow-v12-latin-600.woff') format('woff');
}

/* fraunces-900 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/fraunces-v23-latin-900.woff2') format('woff2'),
    url('../fonts/fraunces-v23-latin-900.woff') format('woff');
}

/* fraunces-700 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fraunces-v23-latin-700.woff2') format('woff2'),
    url('../fonts/fraunces-v23-latin-700.woff') format('woff');
}

/* General */

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Barlow", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #FFFCF8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */
.container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Sticky-Footer */
.site-main {
  flex-grow: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* Start Header Section */
#site-header {
  position: relative;
  background-color: #49BCF1;
  padding: 33px 0;
}

.header-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-part__nav-style {
  position: absolute;
  top: -20px;
  right: 0px;
  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.header-part__info {
  position: fixed;
  top: 110px;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 290px;
  margin: 0 auto;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 39px 0;
  text-align: center;
  background-color: #fff;
}

.header-part__info-on {
  display: block;
}

.header-part__info-on .header-part__btn {
  background-image: url("../images/close-icon.svg");
}

.site-nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.site-nav__item {
  margin-bottom: 32px;
}

.site-nav__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.142857px;
  color: #808397;
}

.header-part__contact-link {
  padding: 16px 31px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  color: #24303E;
  background-color: #FBD600;
  border-radius: 28px;
}

.header-part__btn {
  background-image: url("../images/hamburger-icon.svg");
  width: 24px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
}

@media only screen and (min-width:375px) {
  .header-part__info {
    max-width: 330px;
  }
}

@media only screen and (min-width:500px) {
  .header-part__info {
    max-width: 400px;
  }
}

@media only screen and (min-width:645px) {
  .header-part__info {
    max-width: 510px;
  }
}

@media only screen and (min-width:700px) {
  .header-part__info {
    position: static;
    top: 0;
    left: 0;
    width: 480px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 0;
    text-align: center;
    background-color: transparent;
  }

  .site-logo-img {
    width: 170px;
    height: 33px;
  }

  .site-nav__list {
    flex-direction: row;
  }

  .site-nav__item {
    margin: 0 32px 0 0;
  }

  .site-nav__link {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #FFFFFF;
  }

  .header-part__contact-link {
    background-color: #fff;
  }

  .header-part__contact-link:hover {
    background-color: #78CEF5;
    color: #fff;
  }

  .header-part__btn {
    display: none;
  }
}

@media only screen and (min-width:1024px) {
  .site-nav__item {
    margin-right: 47px;
  }
}

/* End of Header Section */

/* Start Hero Section */
#hero {
  background-image: url("../images/hero-bg-img-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(50% + 0px) calc(50% - 0px);
  padding: 56px 0 296px 0;
}

.hero-part__title-box {
  position: relative;
  max-width: 327px;
  margin: 0 auto;
}

.hero-part__title-box::after {
  position: absolute;
  top: 125%;
  left: 45%;
  width: 30px;
  height: 107px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.hero-part__title {
  margin: 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 35px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media only screen and (min-width:450px) {
  #hero {
    background-position: calc(50% + 0px) calc(50% - 0px);
  }

  .hero-part__title {
    font-size: 40px;
  }
}

@media only screen and (min-width:580px) {
  #hero {
    background-position: calc(50% + 0px) calc(50% - 0px);
  }
}

@media only screen and (min-width:950px) {
  #hero {
    background-image: url("../images/hero-bg-img-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50% + 0px) calc(50% - 0px);
    padding: 72px 0 537px 0;
  }

  .hero-part__title-box {
    max-width: 750px;
  }

  .hero-part__title-box::after {
    top: 160%;
    left: 48%;
  }
}

@media only screen and (min-width:1430px) {
  #hero {
    background-image: url("../images/hero-bg-img-desktop.jpg");
    background-position: calc(50% + 0px) calc(50% - 70px);
  }
}

@media only screen and (min-width:1700px) {
  #hero {
    background-image: url("../images/hero-bg-img-desktop.jpg");
    background-position: calc(50% + 0px) calc(50% - 140px);
  }
}

@media only screen and (min-width:2000px) {
  #hero {
    background-image: url("../images/hero-bg-img-desktop.jpg");
    background-position: calc(50% + 0px) calc(50% - 180px);
  }
}

/* End of Hero Section */

/* Start Card Section */
.card-wrapper {
  max-width: 1516px;
  margin: 0 auto;
}

.wrap-info-list__item {
  display: flex;
  flex-direction: column;
}

.wrap-info-list__img {
  width: 320px;
}

.wrap-info-list__img-desktop {
  display: none;
}

.wrap-info-list__info-box {
  padding: 64px 0;
}

.wrap-info-list__text-box {
  max-width: 445px;
  min-width: 320px;
  margin: 0 auto;
}

.wrap-info-list__title-box {
  max-width: 445px;
  margin: 0 auto;
}

.wrap-info-list__title {
  margin: 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 28px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.228571px;
  color: #24303E;
}

.wrap-info-list__text {
  margin: 24px 0 32px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #808397;
}

.wrap-info-list__link-box {
  display: flex;
  justify-content: center;
  background-image: url("../images/yellow-line.svg");
  background-repeat: no-repeat;
  background-size: 137px 10px;
  background-position: calc(50% + 0px) calc(50% + 5px);
  transition: all .5s;
}

.wrap-info-list__link-box:hover {
  background-image: url("../images/svgyellow.svg");
}

.wrap-info-list__link-box-pink {
  background-image: url("../images/pink-line.svg");
}

.wrap-info-list__link-box-pink:hover {
  background-image: url("../images/svgred.svg");
}

.wrap-info-list__link {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
}

@media only screen and (min-width:321px) {
  .wrap-info-list__img {
    width: 100%;
  }

  .wrap-info-list__title {
    font-size: 32px;
  }
}


@media only screen and (min-width:375px) {

  .wrap-info-list__img {
    width: 375px;
    margin: 0 auto;
  }

  .wrap-info-list__text {
    font-size: 18px;
  }
}

@media only screen and (min-width:808px) {
  .wrap-info-list__item {
    flex-direction: row-reverse;
  }

  .wrap-info-list__item:nth-child(2) {
    flex-direction: row;
  }

  .wrap-info-list__img {
    width: 50%;
  }

  .wrap-info-list__info-box {
    width: 50%;
  }

  .wrap-info-list__title-box,
  .wrap-info-list__text-box {
    margin: 0;
  }

  .wrap-info-list__link-box {
    justify-content: flex-start;
    padding: 0 8px;
    background-position: calc(0% - 0px) calc(50% + 5px);
  }

  .wrap-info-list__title {
    text-align: left;
  }

  .wrap-info-list__text {
    text-align: left;
  }

  .wrap-info-list__info-box {
    padding: 150px 50px 150px 50px;
  }
}

@media only screen and (min-width:821px) {
  .wrap-info-list__img {
    margin: 0;
  }
}

@media only screen and (min-width:1024px) {
  .wrap-info-list__img {
    width: 50%;
  }

  .wrap-info-list__item {
    justify-content: center;
  }

  .wrap-info-list__info-box {
    width: 50%;
    padding: 157px 110px 157px 165px;
  }

  .wrap-info-list__title {
    font-size: 40px;
    line-height: 49px;
  }

  .wrap-info-list__img {
    display: none;
  }

  .wrap-info-list__img-desktop {
    display: block;
    width: 50%;
  }
}

/* Start Card Job list */
.card-job-list__item {
  background-image: url("../images//cherry-img-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 398px 0 59px;
}

.card-job-list__item:nth-child(2) {
  background-image: url("../images//orange-img-mobile.jpg");
}

.card-job-list__title {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #24554A;
}

.card-job-list__text-box {
  max-width: 339px;
  margin: 0 auto;
}

.card-job-list__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.114286px;
  color: #24554A;
}

@media only screen and (min-width:500px) {
  .card-job-list__item {
    background-position: calc(50% + 0px) calc(50% + 0px);
  }

  .card-job-list__item {
    background-image: url("../images/cherry-img.jpg");
  }

  .card-job-list__item:nth-child(2) {
    background-image: url("../images/orange-img.jpg");
  }
}

@media only screen and (min-width:720px) {
  .card-job-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-job-list__item {
    width: 50%;
  }
}

/* End of Card Job list */

/* End of Card Section */

/* Start Testimonial Section */
#testimonial {
  padding: 64px 0 86px 0;
}

.testimonial-list__item {
  max-width: 350px;
  margin: 64px auto 0;
}

.testimonial-list__item::before {
  display: block;
  width: 72px;
  height: 72px;
  margin: 0 auto 32px;
  background-image: url("../images/testimonal-emily.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.testimonial-list__item:nth-child(2):before {
  background-image: url("../images/testimonal-thomas.png");
}

.testimonial-list__item:nth-child(3):before {
  background-image: url("../images/testimonal-h-jennie.png");
}

.testimonial-part__title {
  margin: 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 4px;
  color: #A7AAAD;
}

.testimonial-list__text {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #5B636D;
}

.testimonial-list__title {
  margin: 32px 0 9px 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #24303E;
}

.testimonial-list__job-name {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #A7AAAD;
}


@media only screen and (min-width:700px) {

  .testimonial-list {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 64px;
  }

  .testimonial-list__item {
    margin: 0 30px 0 0;
  }
}

@media only screen and (min-width:1024px) {
  #testimonial {
    padding: 160px 0 160px 0;
  }

  .testimonial-list {
    margin-top: 81px;
  }
}

/* End of Testimonial Section */

/* Start Gallery Section */
.gallery-wrapper {
  max-width: 1519px;
  margin: 0 auto;
}

.gallery-list {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: 160px 160px;
  justify-content: center;
}

.gallery-desktop-img {
  display: none;
}

@media only screen and (min-width:375px) {
  .gallery-list {
    grid-template-columns: 187px 187px;
    grid-template-rows: 187px 187px;
  }

  .gallery-list__mobile-img {
    width: 187px;
    height: 187px;
    display: none;
  }

  .gallery-desktop-img {
    display: block;
    width: 187px;
    height: 187px;
  }
}

@media only screen and (min-width:500px) {
  .gallery-list {
    grid-template-columns: 270px 270px;
    grid-template-rows: 270px 270px;
  }

  .gallery-desktop-img {
    width: 270px;
    height: 270px;
  }
}

@media only screen and (min-width:900px) {
  .gallery-list {
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
  }

  .gallery-desktop-img {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (min-width:1154px) {
  .gallery-list {
    display: grid;
    grid-template-columns: 363px 363px 363px 363px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 447px;
    justify-content: center;
  }

  .gallery-desktop-img {
    width: 100%;
    height: 447px;
    object-fit: cover;
  }
}

/* End of Gallery Section */

/* Start Footer Section */
#site-footer {
  padding: 64px 0 81px 0;
  background-color: #90D4C6;
}

.footer-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-list {
  display: flex;
  align-items: center;
  margin: 40px 0 88px 0;
}

.footer-list__item:not(:last-child) {
  margin-right: 57px;
}

.footer-list__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  color: #458D7E;
  transition: color 0.5s;
}

.footer-list__link:hover {
  color: #FFFFFF;
}

.footer-icon-list {
  display: flex;
  align-items: center;
}

.footer-icon-list__item:not(:last-child) {
  margin-right: 28px;
}

.footer-icon-list__link svg path {
  transition: fill 0.5s;
}

.footer-icon-list__link:hover svg path {
  fill: #ffffff;
}

@media only screen and (min-width:1024px) {
  #site-footer {
    padding: 72px 0;
  }
}

/* End of Footer Section */